@import url(./variable.css);
@import url(./reset.css);

.movies-page {
  padding: 0 var(--px);
  margin-bottom: 100px;
}

.load-more {
  background: rgb(245, 10, 127);
  display: block;
  padding: 10px 30px;
  margin: auto;
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
  border-radius: 15px;
  color: var(--white);
}

.load-more:hover {
  background: rgb(192, 7, 99);
}

.pagination {
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
  color: white;
}

.page {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f50a7f;
  border-radius: 10px;
  margin: 0px 10px;
}

.page.disabled {
  cursor: not-allowed;
  color: grey;
}

.current {
  background-color: #f50a7f;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 16px;
  /* font-weight: 600; */
}

.know-more {
  background-color: #f50a7f;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 5px;
}
